@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&display=swap');

* {
    padding: 3px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-size: 20px;
    color: #121212;
    font-family: "Montserrat", sans-serif;
    height: 100vh;
}

.header {
    background-color: #121212;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10px 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 40px;
    color: #eaeaea;
    text-decoration: none;
    transition: .4s;
}
.logo:hover {
    transform: scale(1.06);
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #eaeaea;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #eaeaea;
    transition: .5s;
}

.navbar a:hover::before {
    width: 100%;
}

.montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
}

.container-fluid {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin-top: 5rem;
}

.center-text {
    text-align: center;
}

.contato {
    background-color: #121212;
    width: 115rem;
    /* Alterado para 100% para ocupar toda a largura da página */
    height: 160px;
    display: flex;
    /* Adicionado para permitir centralização */
    justify-content: center;
    /* Centraliza horizontalmente o conteúdo */
    align-items: center;
    /* Centraliza verticalmente o conteúdo */
    text-align: center;
    /* Centraliza o texto */
    flex-direction: column;
    /* Alinha os itens em coluna */
    margin-top: 3rem;
}


.contato h3 {
    color: #eaeaea;
    justify-content: center;
    text-align: center;
    margin: 0 0 0 0;
    /* Reduz a margem inferior para aproximar do parágrafo */
}

.contato p {
    justify-content: center;
    text-align: center;
    margin: 0 0 0 0;
    /* Remove a margem superior para aproximar do título */
}

.email {
    transition: 1s;
    cursor: pointer;
}

.email a {
    text-decoration: none;
    color: #eaeaea;
}

.email:hover {
    transform: scale(1.1);
    background-color: #2e2e2e;
    border-radius: 30px;
}

.telefone {
    transition: 1s;
    cursor: pointer;
}

.telefone a {
    text-decoration: none;
    color: #eaeaea;
}

.telefone:hover {
    transform: scale(1.1);
    background-color: #2e2e2e;
    border-radius: 30px;
}

.linkedin {
    transition: 1s;
    cursor: pointer;
}

.linkedin a {
    text-decoration: none;
    color: #eaeaea;
}

.linkedin:hover {
    transform: scale(1.1);
    background-color: #2e2e2e;
    border-radius: 30px;
}

.linktree {
    width: 280px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 1s;
}

.linktree:hover {
    transform: scale(1.05);
}

.img-h0wzy {
    display: flex;
    width: 500px;
    border-radius: 15px;
    transition: transform 1s;

}

.img-h0wzy:hover {
    transform: scale(1.1);

}

.container-return {
    display: flex;
    justify-content: end;
    margin: -13rem -50rem 0 50rem;
}

.return {
    text-decoration: none;
    color: #121212;
    transition: 1s;
    padding: 10px 10px 10px 10px;
}

.return:hover {
    color: #eaeaea;
    background-color: #2e2e2e;
    border-radius: 30px;
    transform: scale(1.06);
    transform: translateY(-10px);
}