@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&display=swap');

* {
    /* margin: 0 auto; */
    padding: 3px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-size: 20px;
    color: #121212;
    font-family: "Montserrat", sans-serif;
    height: 100vh;
}


.montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
  }

.container-fluid {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.center-text{
    text-align: center;
}

.contato {
    background-color: #121212;
    width: 115rem; /* Alterado para 100% para ocupar toda a largura da página */
    height: 125px;
    display: flex; /* Adicionado para permitir centralização */
    justify-content: center; /* Centraliza horizontalmente o conteúdo */
    align-items: center; /* Centraliza verticalmente o conteúdo */
    text-align: center; /* Centraliza o texto */
    flex-direction: column; /* Alinha os itens em coluna */
}


.contato h3 {
    color: #eaeaea;
    justify-content: center;
    text-align: center;
    display: flex;
    margin-bottom: 2px; /* Reduz a margem inferior para aproximar do parágrafo */
}

.contato p {
    color: #eaeaea;
    justify-content: center;
    text-align: center;
    display: flex;
    margin-top: 0px; /* Remove a margem superior para aproximar do título */
}


.linktree{
    width: 280px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 1s;
}

.linktree:hover{
    transform: scale(1.05);
}

.img-h0wzy{
    display: flex;
    width: 500px;
    border-radius: 15px;
    transition: transform 1s;
    
}

.img-h0wzy:hover{
    transform: scale(1.1);
    
}


.return {
    text-decoration: none;
    color: #121212;
    display: flex;
    position: absolute;
    top: 1860px;
    right: 20px;
    transition: transform 1s;
}

.return:hover {
    transition: .5s;
    color: #ececec;
    background-color: #121212;
    border-radius: 10px;
    transform: scale(1.03);
}
